/*!
                   _ooOoo_
                  o8888888o
                  88" . "88
                  (| -_- |)
                  O\  =  /O
               ____/`---'\____
             .'  \\|     |//  `.
            /  \\|||  :  |||//  \
           /  _||||| -:- |||||-  \
           |   | \\\  -  /// |   |
           | \_|  ''\---/''  |   |
           \  .-\__  `-`  ___/-. /
         ___`. .'  /--.--\  `. . __
      ."" '<  `.___\_<|>_/___.'  >'"".
     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
     \  \ `-.   \_ __\ /__ _/   .-` /  /
======`-.____`-.___\_____/___.-`____.-'======
                   `=---='
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
         佛祖保佑       永无BUG
 * made by Mr_li
 * 2014/9/1
 * Email:ly1992@qq.com
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *        2、设置通用原子类e
 */

/***** css set*****/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote，th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

capation, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: ' ';
}

abbr, acronym {
    border: 0;
}
/*
    NEW ADD
    2014-9-3
    Mr.LI
    */
html body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    background: #c3eee5;
}


/* 设备竖屏时调用该段css代码 */
@media all and (orientation : portrait) {
    .containner {
        max-width: 400px;
        height: 100%;
        background: url(../IMG/start_shu.gif) no-repeat;
        background-size: 100% 100%;
    }
}
/* 设备横屏时调用该段css代码 */
@media all and (orientation : landscape) {
    .containner {
        height: 100%;
        width: 100%;
        background: url(../IMG/start_heng.gif) no-repeat;
        background-size: 100% 100%;
    }
}
